h1 {
color: Teal;
font-weight:400;
}

.header {
  color: teal;
}

div.header {border-style: solid;
}

img {
  width: 100px;
  height: 650px;
}

h4 {
  font-style: italic;
  font-size: 14px;
}

h3 {
  font-size: 22px;
}




h4{


ul{
  font-size: 14px;
}
